@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    font-family: "opensans-regular", sans-serif;
    color: #fff;
    min-width: 320px;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    font-family: "opensans-regular", sans-serif;
    color: #fff;
}

ul {
    list-style-type: none;
}

/* TEMP CONFIG*/
/* html::-webkit-scrollbar {
    display: none;
} */

/* ------------------------------------------------- Header ----------------------------------------------- */
.header {
    width: 100%;
    /* aspect-ratio: 1660 / 450; */
    min-height: 450px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header-banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 1660px;
    min-height: 450px;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;
    z-index: 1;

    flex-shrink: 0;
}

.header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.nav {
    margin: 28px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    min-width: min-content;
}

.nav-menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.nav__items {
    display: flex;
    margin: 0;
    gap: 0 34px;
    flex-wrap: wrap;
}

.nav__item {
    white-space: nowrap;
    font-size: 13px;
    font-family: "opensans-regular", sans-serif;
}

.nav__item:hover {
    text-decoration: underline;
}

.logo-telef {
    display: none;
    z-index: 10;
}

.logo img {
    width: 100%;
    margin-left: 2px;   /* ADJUSTING */
}

.logo {
    width: 180px;
    z-index: 10;
    align-content: center;
    flex-shrink: 0;
}

.nav, .header__title, .nav li {
    z-index: 10;
    text-transform: uppercase;
}

.menu-button {
    width: 22px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
}

.menu-button span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}

.header__title {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* ADJUSTING */
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 40px;
    width: 70.48vw;
    max-width: 1660px;
    align-items: center;
}

.header__title h1 {
    font-family: "opensans-bold", sans-serif;
    font-size: 45px;
    line-height: 75px;
    color: #fff;
    text-align: center;
    text-wrap: balance;
}

/* -------------------------------------------------- Trending --------------------------------------------------- */
.trending-container {
    margin-top: 56px;
    text-align: center;
}

.section-title h2 {
    font-family: "opensans-bold", sans-serif;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
}

.section-title::after {
    content: '';
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    margin: -8px auto 0;
    opacity: 40%;
}


/* ----------------- trending-flex ------------- */
.trending-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 29px;
    aspect-ratio: 1660 / 320;
    margin-left: auto;
    margin-right: auto;

    /* max-width: 1660px; */
}

.trend-card {
    position: relative;
    width: calc((100% / 4) - (4px * 3 / 4));
    aspect-ratio: 412/320;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.trend-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 3;
}

.trend-card a:hover {
    text-decoration: underline;
}

.trend-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.card-1 {
    text-wrap: balance;
}

.card-3 {
    text-wrap: pretty;
}

.trend-card__data {
    display: flex;
    flex-direction: column;

    position: absolute;
    border: 3px solid #b59f5b;

    /* padding: 32px; */
    padding: 7.767%;

    left: 21px;
    right: 21px;
    bottom: 17px;
    max-height: 80%;

    text-align: start;
    text-transform: uppercase;
    overflow: hidden;

    z-index: 10;
}

.trend-card__tags {
    display: flex;
    /* gap: 0px 18px; */
    gap: 0px 1.08vw;
    flex-wrap: wrap;

    padding: 0;
    margin: 0 0 5px 0;
}

.trend-card__tags a {
    /* font-size: 14px; */
    font-size: 0.843vw;
    /* line-height: 30px; */
    color: #b59f5b;
    text-decoration: none;
    font-family: "opensans-bold", sans-serif;
}

.trend-card__title {
    /* font-size: 20px; */
    font-size: 1.2048vw;
    /* line-height: 24px; */
    line-height: 1.445vw;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trend-card__title a {
    font-family: "opensans-bold", sans-serif;
}

/* -------------------------------------- Main Layout (Blog + Sidebar) ----------------------------------- */
.main-layout {
    display: flex;
    gap: 8.6%;
    margin-top: 61px;
    justify-content: center;
}

.main-layout, .shop-section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 6%;
    padding-right: 6%;
    max-width: 1660px;
}


/* ------------ Left vertical bar ------------ */
.blog-posts {
    flex: 0 2 775px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.post {
    display: flex;
    /* gap: 31px; */
    gap: 4%;
}

.post a {
    text-decoration: none;
    color: #000;
}

.post a:hover {
    text-decoration: underline;
}

.post img {
    width: 49.16%;
    height: auto;
    max-width: 381px;
    /* aspect-ratio: 381/294; */
    display: block;
    object-fit: contain;
    align-self: flex-start;
}

.post-text {
    /* flex: 1 0 180px; */
    /* min-width: 180px; */
    flex-grow: 1;
    min-width: 0;
    /* display: flex; */
    /* flex-direction: column; */
}

.post__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 18px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.post__tags a {
    font-size: 14px;
    font-family: "opensans-bold", sans-serif;
    color: #b59f5b;
    display: block;
    margin: -3px 0 0;
    /* line-height: 24px; */
}

.post__title {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    /* margin-top: 1.03%; */
    /* margin-right: 2.58%; */
    text-transform: uppercase;
}

.post__title a {
    font-family: "opensans-bold", sans-serif;
}

.post__data-author {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 12px;
    /* margin-top: 28px; */
    /* margin-top: 3.61%; */
    margin-top: 7.8%;
}

.post__data {
    color: #888888;
    font-size: 12px;
    font-family: "opensans-regular", sans-serif;
}

.post__author {
    color: #000000;
    font-size: 12px;
    font-family: "opensans-bold", sans-serif
}

.post__description {
    /* margin-top: 44px; */
    /* margin-top: 5.677%; */
    margin-top: 12.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post__description p {
    font-size: 15px;
    line-height: 22px;
    font-family: "opensans-regular", sans-serif;
    color: #000000;
    margin: 0;
}

/* ----------- Right vertical bar (Sidebar) ------------- */
.sidebar {
    flex: 0 0 272px;
    /* max-width: 272px; */
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    font-family: "opensans-bold", sans-serif;
    color: #000000;
    text-align: center;
    margin-top: -3px;
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar-title::after {
    content: '';
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    margin: 10px auto 0;
    opacity: 40%;
}

.new-posts {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 13px;
}

.new-post {
    display: flex;
    align-items: start;
    gap: 19px;
    padding: 0;
}

.new-posts a {
    text-decoration: none;
    color: #000;
}

.new-posts a:hover .new-post__text h3 {
    text-decoration: underline;
}

.new-post img {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.new-post__text {
    width: 100%;
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.new-post__date {
    font-size: 12px;
    color: #888888;
    font-family: "opensans-regular", sans-serif;
}

.new-post__title {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "opensans-bold", sans-serif;
}

/* ----------- SEARCH BLOCK -------------- */
.search {
    display: flex;
    margin-top: 60px;
}

.search-input {
    flex: 1;
    padding: 10px 17px;
    border: none;
    background-color: #f4f7f6;
    font-family: "opensans-regular", sans-serif;
    font-size: 13px;
    color: #000000;
    outline: none;
}

.search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #323232;
}

.search-button img {
    width: 37.5%;
    height: auto;
    object-fit: contain;
}

/* ---------------- EMAIL BLOCK -------------- */
.email {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.email-input {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    padding: 10px 17px;
    margin-top: 10px;
    border: none;
    background-color: #f4f7f6;
    font-family: "opensans-regular", sans-serif;
    font-size: 13px;
    color: #000000;
    outline: none;
}

.email-button {
    width: 100%;
    height: 48px;
    margin-top: 19px;
    display: inline-block;
    background-color: #b59f5b;
    color: #fff;
    font-family: "opensans-bold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 25px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
}

.email-button:hover {
    background-color: #323232;
}

/* -------------- TAGS BLOCK -------------- */
.tags {
    margin-top: 59px;
}

.tags-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 6px;
    margin-top: 21px;
    padding: 0;
}

.tags-items li a {
    display: block;
    text-decoration: none;
    font-family: "opensans-bold", sans-serif;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    list-style: none;
}

.tags-item {
    padding: 4px 13px;
    border: 3px solid #eeeeee;
    transition: border 0.3s ease;
}

.tags-item:has(a:hover) {
    border-color: #b59f5b;
}

/* -------------- TOPICS BLOCK --------------- */
.topics {
    margin-top: 44px;
}

.topics-list {
    list-style: none;
    margin-top: -2px;
    padding: 0;
}

.topics-list li a {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-family: "opensans-bold", sans-serif;
    text-decoration: none;
    color: #000000;
    padding: 13.5px 0;
    border-bottom: 1px solid #eeeeee;
    transition: color 0.2s ease;
}

.topics-list li a:hover {
    color: #b59f5b;
}

.topics-list .quantity {
    font-size: 12px;
    color: #b59f5b;
    margin-left: 4px;
    top: -2px;
}

/* ---------------------------------------------------- Shop Section ---------------------------------------- */
.shop-section {
    padding: 0;
    margin-top: 60px;
    text-align: center;
}

.shop-flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: 64px; */
    gap: 3.85%;
    margin-top: 30px;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    /* width: 348px; */
    flex: 0 1 calc(33.33% - (64px * 2 / 3));
    max-width: 348px;
    min-height: 438px;
}

.product-card__image img {
    width: 86%;
    display: block;
    margin: auto;
}

.product-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max-content;
    position: relative;
    padding: 45px 20px 25px;
    border: 3px solid #d4b886;
    min-height: 265px;
    margin: -30px auto 0;
    box-sizing: border-box;
}

.product-card__title h3, .product-card__content p {
    text-align: left;
    flex: 0 1 auto;
    margin: 0;
}

.product-card__title h3 {
    font-size: 20px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-family: "opensans-bold", sans-serif;
    color: #000;
}

.product-card__description {
    font-size: 15px;
    color: #000000;
    line-height: 22px;
    font-family: "opensans-regular", sans-serif;
    text-decoration: none;
}

.product-card__description a {
    color: #d4b886;
    transition: font-weight 0.2s ease;
}

.product-card__description a:hover {
    text-decoration: underline;
}

.product-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    flex: 0 0 auto;

    margin-top: 24px;
    font-family: "opensans-bold", sans-serif;
    color: #0f0d0e;
    overflow: hidden;
}

.product-card__price {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 0px;
    padding-left: 1px;
    padding-bottom: 7px;
    text-align: start;
}

.product-card__oldprice {
    font-size: 14px;
    font-family: "opensans-bold", sans-serif;
    text-decoration: line-through;
    line-height: 1;
}

.product-card__current-price {
    font-size: 20px;
    line-height: 1;
}

.product-card__btn {
    width: 100%;
    flex-shrink: 1;
    max-width: 140px;
    min-width: fit-content;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    font-family: "opensans-bold", sans-serif;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.product-card__btn:hover {
    background-color: #323232;
}

/* ---------------------------------------------- FOOTER -------------------------------------------------- */
.footer {
    display: flex;
    /* width: 1172px; */
    max-width: 1660px;
    height: 80px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f7f6;
    justify-content: center;
    align-items: center;
    gap: 24.5px;
}

.footer-img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-left: 3px;
}

.footer-text {
    color: #999999;
    font-family: "opensans-bold", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 73px;
    margin-left: 8px;
    margin-bottom: 40px;
}

.field:focus {
    outline: none;
}

/* ----------------------------------------------- MEDIA CONTROLS -------------------------------------------------- */

@media (min-width: 1170px) {
    .nav {
        max-width: 1170px;
    }

    .header-banner img {
        object-position: center;
    }
}

@media (max-width: 768px) {
    /* ------------------ BANNER (Header) ------------------ */

    .header {
        /* aspect-ratio: 768/392; */
        min-height: 390px;
    }

    .logo img {
        margin: 0;
    }

    .logo {
        width: 158px;
    }

    .nav {
        margin: 43px auto 0px;
        justify-content: space-between;
        align-items: center;
        width: 91%;
    }

    .nav-menu {
        display: none;
    }

    .menu-button {
        display: flex;
    }

    .header-banner img {
        object-position: center left;
    }

    .header__title {
        width: 90.48vw;
        margin-top: 10px;
    }

    .header__title h1 {
        font-size: 40px;
        line-height: 55px;
    }

    /* -----------------    TRENDIG  -------------------- */

    .trending-container {
        margin-top: 46px;
    }

    .trending-flex {
        margin-top: 20px;
    }

    .trend-card {
        width: calc((100% / 2) - (4px / 2));
        /* aspect-ratio: 386/249; */
        aspect-ratio: 390/252;
    }

    .trend-card img {
        object-position: bottom;
    }

    .trend-card__data {
        right: 19px;
        padding-top: 4.16vw; /* ADJUSTING */
        /* padding-left: 30px; */
        padding-left: 3.9vw;
        /* padding-bottom: 26px; */
        padding-bottom: 3.385vw;
        padding-right: 3.5vw;
    }

    .trend-card__tags {
        /* gap: 0px 18px; */
        gap: 0px 2.34vw;
    }

    .trend-card__tags a {
        /* font-size: 14px; */
        font-size: 1.82vw;
    }

    .trend-card__title {
        /* font-size: 17px; */
        font-size: 2.21vw;
        /* line-height: 22px; */
        line-height: 2.86vw;
    }


    /* --------------- Main(posts) Section ---------------- */

    .main-layout, .shop-section, .footer {
        /* margin-left: 35px;
        margin-right: 35px; */
        margin-left: 4.45%;
        margin-right: 4.55%;
        padding: 0;
    }

    .main-layout {
        margin-top: 50px;
        gap: 31px;
    }

    /* --------------- LEFT vertical bar ---------------- */
    .blog-posts {
        gap: 81px;
    }

    .post {
        display: flex;
        flex-direction: column;
    }

    .post:not(:last-child)::after {
        content: "";
        display: block;
        border-bottom: 3px solid #eeeeee;
        margin-top: -3px;
    }

    .post__tags {
        margin-top: -6px;
        font-size: 14px;
    }

    .post__title {
        font-size: 17px;
        line-height: 22px;

    }

    .post__data-author {
        font-size: 12px;
        margin-top: 32px;
    }

    .post__description {
        font-size: 15px;
        line-height: 22px;
        margin-top: 28px;
    }

    .post img {
        width: 100%;
        max-width: 392px;
    }

    .section-title h2 {
        font-size: 18px;
    }

    /* ------------------ SHOP section ------------------- */

    .shop-section {
        margin-top: 82px;
    }

    .shop-flex {
        justify-content: flex-start;
        /* gap: 23px; */
        gap: 2.99vw;
    }

    .product-card {
        /* width: 47.99%; */
        flex: 0 1 calc(50% - 23px / 2);
    }

    .product-card__image img {
        aspect-ratio: 290/226;
        object-position: left;
    }

    .product-card__title h3 {
        font-size: 17px;
    }

    /* -------------------- FOOTER ----------------------- */

    .footer {
        margin-top: 50px;
    }

    .footer-text {
        margin-top: 50px;
    }
}

/*  ---------------------------- PHONES CONFIG (width: 360px) ------------------------------- */
@media (max-width: 360px) {
    .nav {
        justify-content: end;
        margin-top: 31px;
    }
    
    .header {
        min-height: 640px;
    }

    .header-banner img {
        object-position: left;
    }

    .logo-telef{
        display: block;
        align-self: center;
        width: 93%;
        max-width: 330px;
    }

    .logo {
        display: none;
    }

    .header__title {
        width: 80%;
        margin: 0;
        padding: 0;
        flex: 1;
        margin-top: -23px;
        justify-content: center;
        /* max-width: 225px; */
        max-width: 330px;
        align-self: center;
    }

    .header__title h1 {
        margin-top: 22px;
        font-size: 26px;
        line-height: 36px;
        text-wrap: wrap;
    }

    /* ------------- TRENDING ---------- */
    .main-layout {
        flex-direction: column;
        margin-left: 15px;
        margin-right: 16px;
    }

    .trending-container {
        margin-top: 38px;
    }

    .trending-flex {
        margin-top: 27px;
        gap: 3px;
    }

    .section-title h2 {
        font-size: 16px;
    }

    .trend-card {
        width: 100%;
        aspect-ratio: 360/231;
    }

    .product-card {
        flex: 0 1 100%;
    }

    .trend-card__tags {
        /* gap: 0px 18px; */
        gap: 0px 5vw;
    }

    .trend-card__tags a {
        /* font-size: 14px; */
        font-size: 3.888vw;
    }

    .trend-card__title {
        /* font-size: 16px; */
        font-size: 4.444vw;
        /* line-height: 20px; */
        line-height: 5.555vw;
        margin-top: 4px;
    }

    .trend-card__data {
        left: 15px;
        right: 15px;
        bottom: 14px;
        padding-top: 6.76vw; /* ADJUSTING */
        /* padding-left: 20px; */
        padding-left: 5.555vw;
        padding-right: 5.555vw;
        /* padding-bottom: 26px; */
        padding-bottom: 7.5vw;
    }

     /* --------------- LEFT vertical bar ---------------- */
    .blog-posts {
        gap: 70px;
        margin-top: -4px;
    }

    .post {
        display: flex;
        flex-direction: column;
    }

    .post::after {
        content: "";
        display: block;
        border-bottom: 3px solid #eeeeee;
        padding-top: 5px;
    }

    .post__tags {
        margin-top: -6px;
        font-size: 14px;
    }

    .post__title {
        font-size: 16px;
        line-height: 20px;

    }

    .post__data-author {
        font-size: 12px;
        margin-top: 19px;
    }

    .post__description {
        margin-top: 14px;
        padding-right: 5px; /* ADJUSTING  */
        gap: 5px;
    }

    .post__description p {
        font-size: 14px;
        line-height: 20px;
    }

    .post img {
        width: 100%;
        max-width: 392px;
    }

    /* ---------- SIDEBAR (Right) ---------- */
    .sidebar {
        margin-top: 45px;
    }

    .sidebar-title {
        font-size: 16px;
    }

    .new-posts {
        margin-top: 10px;
    }

    .email {
        margin-top: 42px;
    }

    .email-input {
        margin-top: 5px;
    }

    .tags {
        margin-top: 42px;
    }

    .tags-item {
        font-size: 12px;
    }

    .topics {
        margin-top: 27px;
    }

    .topics-list {
        margin-top: -6px; /* ADJUSTING */
    }

    /* -------------- SHOP SECTION ----------------*/
    .shop-section {
        margin-top: 26px;
    }

    .shop-flex {
        margin-top: 32px; /* ADJUSTING */
        gap: 28px;
        /* gap: 2.99vw; */
    }

    .product-card {
        flex: 0 1 100%;
    }

    .product-card__content {
        padding: 48px 16px 25px;
        min-height: 215px;
        margin: -30px auto 0;
    }

    .product-card__image img {
        aspect-ratio: 282/282;
        object-position: left;
    }

    .product-card__title h3 {
        font-size: 17px;
    }

    .product-card__footer {
        margin-top: 20px;
        margin-right: 5px;
    }

    .product-card__btn {
        max-width: 140px;
    }

    /* ------- FOOTER -------*/
    .footer {
        margin-top: 42px;
    }
}
