:root {
    --c-type: inline-size;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

* { box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "opensans-regular", sans-serif;
    color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "opensans-regular", sans-serif;
    color: #fff;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: "opensans-bold", sans-serif;
    margin: 0;
    font-size: 45px;
}


/* ------------------------------------------------- Header ----------------------------------------------- */
.header {
    width: 100%;
    max-width: 1660px;
    aspect-ratio: 1660 / 450; /* h 390  -- h 640   */
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header-banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 1660px;
    min-height: 450px;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;
    z-index: 1;

    flex-shrink: 0;
}

.header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.nav-menu {
    display: flex;
    margin: 0;
    gap: 35px;
}

.logo img {
    width: 100%;
}

.logo {
    width: 180px;
    z-index: 10;
    align-content: center;
}

/* .nav-menu a:hover {
    color: #b59f5b;
} */

.nav, .header__title, .nav li {
    z-index: 10;
    text-transform: uppercase;
}

.menu-button {
    width: 22px;
    height: 20px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
}

.menu-button span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}

.header__title {
    margin: auto;
    width: min-content;
    min-width: 38%;
    max-width: 90%;
    text-align: center;

    overflow: hidden;
    text-wrap: pretty;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

/* -------------------------------------------------- Trending --------------------------------------------------- */
.trending-container {
    margin-top: 56px;
    text-align: center;
}

.section-title__container {
    max-width: 1660px;
    margin: 0 auto;
}

.section-title {
    font-family: "opensans-bold", sans-serif;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
}

.line-divider {
    box-sizing: border-box;
    margin: auto;
    margin-top: 8px;
    width: 66px;
    /* width: 3.976%; */
    height: 3px;
    background-color: #b59f5b;
    opacity: 40%;
}


/* ----------------- trending-flex ------------- */
.trending-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 29px;
    max-width: 1660px;
    aspect-ratio: 1660 / 320;
    margin-left: auto;
    margin-right: auto;
}

.trend-card {
    position: relative;
    width: calc((100% / 4) - (4px * 3 / 4));
    aspect-ratio: 412/320;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    container-type: var(--c-type);
}

.trend-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 3;
}

.trend-card a:hover {
    text-decoration: underline;
}

.trend-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.card-1 {
    text-wrap: balance;
}

.trend-card__data {
    position: absolute;
    border: 3px solid #b59f5b;
    padding: 32px;
    left: 20px;
    right: 22px;
    bottom: 17px;
    max-height: 80%;

    text-align: left;
    text-transform: uppercase;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    z-index: 10;
}

.trend-card__tags {
    display: flex;
    gap: 0px 18px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.trend-card__tags a {
    /* font-size: 14px; */
    /* line-height: 30px; */
    font-size: 21px;
    color: #b59f5b;
    text-decoration: none;
    font-family: "opensans-bold", sans-serif;
}

.trend-card__title {
    font-size: 21px;
    /* line-height: 24px; */
    line-height: 1.2;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    word-break: break-word;
}


/* -------------------------------------- Main Layout (Blog + Sidebar) ----------------------------------- */
.main-layout {
    display: flex;
    container-type: var(--c-type);
    margin-top: 61px;
    

    gap: 25px;
    max-width: 1660px;
}

.main-layout, .shop-section {
    margin-left: auto;
    margin-right: auto;

    padding-left: 245px;
    padding-right: 233px;
}


/* ------------ Left vertical bar ------------ */
.blog-posts {
    flex: 13;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.post {
    display: flex;
    gap: 30px;
    font-family: "opensans-bold", sans-serif;
}

.post a {
    text-decoration: none;
    color: #000;
}

.post a:hover {
    text-decoration: underline;
}

.post img {
    width: 381px;
    aspect-ratio: 381/294;
    object-fit: cover;
    display: block;
}

.post__tags {
    display: flex;
    gap: 18px;
    text-transform: uppercase;
}

.post__tags a {
    font-size: 14px;
    color: #b59f5b;
    /* line-height: 24px; */
}

.post__title {
    font-size: 20px;
    /* line-height: 24px; */
    margin-top: 5px;
    margin-right: 3.91cqw;
    text-transform: uppercase;
}

.post__data-author {
    display: flex;
    gap: 11px;
    font-size: 12px;
     /* margin-top: 29px; */
    margin-top: 2.416em;
}

.post__data {
    color: #888888;
    font-family: "opensans-regular", sans-serif;
}

.post__author {
    color: #000000;
}

.post__description {
    font-size: 15px;
    font-family: "opensans-regular", sans-serif;
    /* line-height: 22px; */
    margin-top: 45px;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ----------- Right vertical bar (Sidebar) ------------- */
.sidebar {
    flex: 9;
    display: flex;
    flex-direction: column;
    font-family: "opensans-bold", sans-serif;
    color: #000000;
}

.sidebar-header{
    text-align: center;
    margin-top: -3px;
}

.sidebar-title {
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar-line {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 40%;
}

.new-posts {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 29px;
}

.new-post {
    display: flex;
    align-items: start;
    gap: 18px;
    padding: 0;

    min-width: 270px;
}

.new-posts a {
    text-decoration: none;
    color: #000;
}

.new-post img {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.new-post__text {
    width: 100%;
    margin-top: -6px;
}

.new-post__date {
    font-size: 12px;
    color: #888888;
    font-family: "opensans-regular", sans-serif;
}

.new-post__title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "opensans-bold", sans-serif;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ----------- SEARCH BLOCK -------------- */
.search {
    display: flex;
    margin-top: 60px;
}

.search-input {
    flex: 1;
    padding: 10px 17px;
    border: none;
    background-color: #f4f7f6;
    font-family: "opensans-regular", sans-serif;
    font-size: 13px;
    color: #000000;
    outline: none;
}

.search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button img {
    width: 37.5%;
    height: auto;
    object-fit: contain;
}

/* ---------------- EMAIL BLOCK -------------- */
.email {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.email-input {
    width: 100%;
    height: 48px;
    padding: 10px 17px;
    margin-top: 22px;
    border: none;
    background-color: #f4f7f6;
    font-family: "opensans-regular", sans-serif;
    font-size: 13px;
    color: #000000;
    outline: none;
}

.email-button {
    width: 100%;
    height: 48px;
    margin-top: 19px;
    display: inline-block;
    background-color: #b59f5b;
    color: #fff;
    font-family: "opensans-bold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 25px;
    cursor: pointer;
    text-align: center;
    border: none;
}

/* -------------- TAGS BLOCK -------------- */
.tags {
    margin-top: 59px;
}

.tags-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 6px;
    margin-top: 24px;
}

.tags-items li a {
    text-decoration: none;
    font-family: "opensans-bold", sans-serif;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    list-style: none;
}

.tags-item {
    padding: 4px 13px;
    border: 3px solid #eeeeee;
}

/* -------------- TOPICS BLOCK --------------- */
.topics {
    margin-top: 58px;
}

.topics-list {
    list-style: none;
    margin-top: 10px;
    font-family: "opensans-bold", sans-serif;
}

.topics-list a {
    text-decoration: none;
}

.topics-list li a {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: #000000;
    padding: 13.5px 0;
    border-bottom: 1px solid #eeeeee;
}

.topics-list .quantity {
    font-size: 12px;
    color: #b59f5b;
    margin-left: 4px;
    top: -2px;
}

/* ---------------------------------------------------- Shop Section ---------------------------------------- */
.shop-section {
    padding: 0;
    margin: 60px auto 0 auto;
    max-width: 1660px;
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    font-size: 18px;
}

.shop-flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: 64px; */
    gap: clamp(26px, 4.26cqw - 6.72px, 64px);
    margin-top: 30px;
    padding: 0;
    justify-content: center;
    margin-bottom: 0;
}

.product-card {
    /* width: 348px; */
    flex: 0 1 calc(33.33% - (clamp(26px, 4.26cqw - 6.72px, 64px) * 2 / 3));
    max-width: 348px;
    height: 438px;

    container-type: inline-size;
}

.product-card__image img {
    width: 86%;
    display: block;
    margin: auto;
}

.product-card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 45px 20px 25px;
    border: 3px solid #d4b886;
    height: 265px;
    margin: -30px auto 0;
    position: relative;
    box-sizing: border-box;
}

.product-card__title h3, .product-card__content p {
    text-align: left;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    
    flex: 0 1 auto; 
}

.product-card__title h3 {
    /* font-size: 20px; */
    font-size: clamp(17px, 5.74cqw, 20px);
    margin-bottom: 4px;
    text-transform: uppercase;
    font-family: "opensans-bold", sans-serif;
    color: #000;

    -webkit-line-clamp: 2;
}


.product-card__content p {
    flex: 0 1 auto;
    -webkit-line-clamp: 4;
}



.product-card__description {
    font-size: 15px;
    color: #000000;
    line-height: 1.4;
    font-family: "opensans-regular", sans-serif;
}

.product-card__description a {
    text-decoration: none;
    color: #d4b886;
}

.product-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    flex: 0 0 auto;

    margin-top: 24px;
    font-family: "opensans-bold", sans-serif;
    color: #0f0d0e;
    overflow: hidden;
}

.product-card__price {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 0px;
    padding-left: 1px;
    padding-bottom: 7px;
}

.product-card__oldprice {
    font-size: 14px;
    text-decoration: line-through;
    line-height: 1;
}

.product-card__current-price {
    font-size: 20px;
    line-height: 1;
}

.product-card__btn {
    width: 100%;
    flex-shrink: 1;
    max-width: 140px;
    min-width: fit-content;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

/* ---------------------------------------------- FOOTER -------------------------------------------------- */
.footer {
    display: flex;
    /* width: 1172px; */
    max-width: 1660px;
    height: 80px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f7f6;
    justify-content: center;
    align-items: center;
    gap: 24.5px;
}

.footer-img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-left: 3px;
}

.footer-text {
    color: #999999;
    font-family: "opensans-bold", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 73px;
    margin-left: 8px;
    margin-bottom: 40px;
}

.field:focus {
    outline: none;
}

/* ------------- HOVER EFFECTS -------------- */
/* .email-button:hover,
.btn-send:hover,
.product-card__btn:hover,
.search-button:hover {
    background-color: #d3b96b;
}

.tags-item:hover,
.new-post:hover,
.topics-list li:hover,
.radio-custom:hover .circle {
    background-color: #f0f0f0;
} */

@supports (font-size: clamp(1px, 1cqw, 1px)) {
    h1 {
        font-size: clamp(10px, 2.7cqw, 45px);
    }

    .logo {
    width: clamp(100px, 10.84cqw, 180px);
    }

    .trend-card__data {
        padding: clamp(20px, 7.767cqw, 32px);
    }

    .trend-card__tags a {
        font-size: clamp(14px, 3.398cqw, 21px);
    }

    .trend-card__title {
        font-size: clamp(16px, 5.097cqw, 21px);
    }

    .main-layout, .shop-section {
        padding-left: clamp(50px, 21.86cqw - 117.88px, 245px);
        padding-right: clamp(50px, 20.516cqw - 107.57px, 233px);
    }

    .post__tags a {
        font-size: clamp(10px, 0.84cqw, 14px);
    }

    .post__title {
        font-size: clamp(12px, 1.20cqw, 20px);
    }

    .post__data-author {
        font-size: clamp(6px, 0.72cqw, 12px);
    }

    .post__description {
        font-size: clamp(8px, 0.90cqw, 15px);
        margin-top: 1.71cqw;
    }
}
/* container-type: var(--c-type); */
@supports (gap: 1cqw) {
    .post {
        gap: 1.80cqw;
    }

    .post img {
        width: 22.95cqw;
    }
}

@media (max-width: 768px) {
    .trend-card {
        width: calc((100% / 2) - (4px / 2));
    }

    .trending-container {
        margin-top: 50px;
    }

    .post {
        flex-direction: column;
    }

    .post__tags {
        font-size: 14px;
    }

    .post__title {
        font-size: 17px;
    }

    .post__data-author {
        font-size: 12px;
    }

    .post__description {
        font-size: 15px;
    }

    .post img {
        width: 100%;
    }

    .nav-menu {
        display: none;
    }

    .header {
        aspect-ratio: 768/392;
    }

    .nav {
        justify-content: space-between;
        margin: 42px 35px 0px;

    }

    .menu-button {
        display: flex;
    }

    .header__title {
        min-width: 85%;
    }

    .header__title h1 {
        font-size: clamp(20px, 5.20cqw, 40px);
    }

    .section-title {
        font-size: 18px;
    }

    .main-layout, .shop-section {
        margin-top: 50px;
        padding-left: clamp(15px, 8.57cqw - 15.85px, 50px);
        padding-right: clamp(15px, 8.57cqw - 15.85px, 50px);
        gap: 35px;
    }

    .shop-flex {
        justify-content: flex-start;
        gap: 25px;
    }

    .product-card {
        /* width: 47.99%; */
        flex: 0 1 calc(50% - 25px / 2);
    }

    .footer {
        margin-left: clamp(15px, 8.57cqw - 15.85px, 50px);
        margin-right: clamp(15px, 8.57cqw - 15.85px, 50px);
    }
}

@media (max-width: 360px) {
    .trend-card {
        width: 100%;
    }

    .main-layout {
        flex-direction: column;
    }

    .product-card {
        flex: 0 1 100%;
    }
}